@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://link-para-a-fonte-mohave.com/mohave.css');

html {
    background-color: #0e1117;
}
    
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #0e1117;
}

header {
    background: url('https://th.bing.com/th/id/OIG4.dwQTa0YA9jnOPui2Tg0o?pid=ImgGn') no-repeat center center/cover;
    background-size: 100%; 
    height: 40vh;
    position: relative;
    border-radius: 5%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
    position: relative;
}

.logoPremium {
    height: 100px;
    transition: transform 1.5s ease;
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #e3e8eb80;
    border-radius: 15px 2.5px 15px 2.5px;
}

.logoPremium:hover {
    transform: scale(1.5);
}

.logoDataAdvisor {
    height: 120px;
    transition: transform 0.5s ease;
    position: absolute;
    top: 10%;
    left: 0%;
    right: 30%;
    bottom: 0;
    margin: auto;
}

.logoDataAdvisor:hover {
    transform: scale(2);
}

.p {
    font-size: 12px; 
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: -80%;
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.253);
    text-align: justify; 
    line-height: 1.5; 
    font-family: 'Mohave Negrito', Arial, sans-serif;
}

.p:hover {
    color: #d9312a; 
    transition: color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.253);
    transition: background-color 0.5s ease;
}